{% load static %}
<html lang="en">
  <head>
    <title>FHIR Australia</title>
    <meta name="description"
          content="FHIR Australia - A platform for FHIR resources and information in Australia.">
    <meta name="keywords"
          content="FHIR, Australia, healthcare, interoperability, HL7, medical data">
    <link rel="stylesheet" href="{% static 'frontend/baseStyle.css' %}" />
    <link rel="shortcut icon"
          type="image/png"
          href="{% static 'frontend/images/fire.png' %}" />
  </head>
  <body id="content">
    <header>
      <div class="header-content">
        <a class="homepage-link" href="{% url 'homepage' %}">
          <h1 class="homepage-text">FHIR Australia</h1>
        </a>
      </div>
    </header>
    {% block content %}
    {% endblock content %}
  </body>
</html>
