{% load static %}
<div class="search-bar-container">
  <input
    type="text"
    name="search_terms"
    id="global_search_text"
    value="{{ request.GET.search_terms|default_if_none:'' }}"
    placeholder="Search by resource or IG name..." {# <-- MODIFIED PLACEHOLDER #}
    aria-label="Search by resource or IG name"
  />
  <button type="submit" class="search-button-global" aria-label="Perform search">
    <img src="{% static 'frontend/images/search-icon.png' %}" alt="Search" class="search-icon" />
  </button>
</div>