{% extends "frontend/base.html" %}
{% load static %}
{% block content %}
  {# Removed the header content that displayed "Welcome to Django" #}
  <link rel="stylesheet" href="{% static 'frontend/homePageStyle.css' %}" />
  <main>
    <div class="content-section">
      <h2>FHIR Resources and Information</h2>
      {% for page_key, page_data in pages.items %}
        <li class="item">
          <a class="item-link" href="{% url page_key %}">
            <h3 class="item-resourceType">{{ page_data.name }}</h3>
            <p>{{ page_data.description }}</p>
          </a>
        </li>
      {% empty %}
        <li class="item">
          <div class="item-name">ERROR: Pages Found</div>
          <div class="item-description">Pages failed to load</div>
        </li>
      {% endfor %}
    </div>
  </main>
{% endblock content %}
