{% extends "frontend/base.html" %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'frontend/homepageStyle.css' %}" />
  <main>
    <div class="content-section">
      {% comment %} {% include 'frontend/searchComponent.html' %} {% endcomment %}
      <h2>Sections</h2>
      <ul class="item-list">
        {% for item in items %}
          <li class="item">
            <a class="item-link" href="{% url 'sectionDetails' item %}">
              <div class="item-name">{{ item }}</div>
            </a>
          </li>
        {% empty %}
          <li class="item">
            <div class="item-name">No items available</div>
            <div class="item-description">There are currently no items to display.</div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </main>
  <footer>
    <div class="footer-content">
      <div class="footer-links">
        <a href="{% url 'index' %}">About</a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Contact</a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Privacy</a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Terms</a>
      </div>
      <p>2025 Django Application. All rights reserved.</p>
    </div>
  </footer>
{% endblock %}
